@model InvoiceApp.Models.TrInvoice
@{
    ViewData["Title"] = "Create Invoice";
    var products = ViewBag.Products as SelectList;
}

<h3 class="d-flex justify-content-between align-items-center">
    Create Invoice
    <a asp-action="Index" class="btn btn-info">
        ← Back
    </a>
</h3>


<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>No Invoice</label>
        <input asp-for="InvoiceNo" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Invoice Date</label>
        <input asp-for="InvoiceDate" type="date" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Invoice To</label>
        <textarea asp-for="InvoiceTo" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label>Ship To</label>
        <textarea asp-for="ShipTo" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label>Sales</label>
        <select asp-for="SalesID" asp-items="ViewBag.Sales" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label>Courier</label>
        <select asp-for="CourierID" asp-items="ViewBag.Couriers" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label>Payment</label>
        <select asp-for="PaymentType" asp-items="ViewBag.Payments" class="form-select"></select>
    </div>

    <!-- Produk Detail -->
    <h5>Products</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody id="productTable">
            <tr>
                <td>
                    <select name="details[0].ProductID" class="form-select" asp-items="products"></select>
                </td>
                <td>
                    <input type="number" name="details[0].Qty" class="form-control" value="1" />
                </td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
